@import '../styles.module.scss';

.serialContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: '#F9F9F9';
  font-size: 16px;
  font-weight: normal;
  padding: 24px 20px;
  margin: 18px 0;
  background-color: #f9f9f9;
  color: #464a4b;
}
.modalTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  overflow-wrap: anywhere;
}