@import 'containers/Orders/styles.module.scss';

.OrderList {
  padding: 50px;

  .filterName {
    font-size: 12px;
  }
  .header {
    font-size: 22px;
    font-weight: 700;
  }

  .tab {
    margin: 44px 0 22px 0;
    .tabName {
      font-size: 22px;
      font-weight: bold;
    }

    .input {
      width: 100%;
      margin-top: 20px;

      & input {
        font-size: 14px !important;
      }
    }
  }
  .orderTable {
    :global {
      ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #dedede;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: black;
        height: 100px;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: black;
      }

      .ant-table-thead > tr > th {
        font-size: 14px;
        color: #a4a4a4;
      }

      .ant-table-tbody > tr > td {
        font-size: 14px;
        color: #464a4b;
      }
      .ant-table-thead > tr > th:nth-child(n + 4) {
        font-size: 14px;
        color: #a4a4a4;
        text-align: center !important;
      }
      .ant-table-tbody > tr > td:nth-child(n + 4) {
        text-align: center !important;
      }
    }
  }
}
.inputError {
  border: 1px solid red;

  &:hover,
  &:active,
  &:focus {
    border: 1px solid red;
  }
}

.tableInput {
  font-size: 14px;
  text-align: center;
}
.AddSerialNumbersModal {
  margin-top: 200px;
}
.AddFromCatalog {
  padding: 40px 40px;

  .selectLabel {
    font-size: 14px;
  }

  .buttons {
    margin: 15px;
  }
  .confirmButton {
    font-size: 14px;
    margin-right: 10px;
  }

  .cancelButton {
    font-size: 14px;
  }
}

.selectBox {
  margin-bottom: 20px;
}
.customStage {
  height: 100%;
  :global {
    .ant-select-selection {
      height: 100% !important;
    }
    .ant-select-selection-selected-value {
      padding: 6px 0 !important;
    }
  }
}
.infoButton{
  position: absolute;
  top: -8px;
  left: 55px;
  z-index: 10;
  cursor: pointer;
}
.infoText {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.infoAmount {
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
  }
}