.columnDetailItem {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #a4a4a4;
  }

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #373737;
  }
}
.detailsTab {
  display: flex;
  align-items: center;
  width: 100%;

  button {
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
    height: 42px;
    line-height: 16px;
    border-radius: 4px 0 0 4px;
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}
.filterName {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #a4a4a4;
}
.serialNumberCount {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #45a8e291;
  margin-left: 8px;
  border-radius: 64px;
  cursor: context-menu;
}
.customSquareButton {
  border: none !important;

  i {
    color: #464a4b !important;
  }
}
.opInvTable::-webkit-scrollbar-track {
  background: #dedede;
  box-sizing: border-box;
  border-radius: 4px;
}
.exportBox {
  display: flex;
  align-items: center;
}

.opInvTable::-webkit-scrollbar-track {
  background: #dedede;
  box-sizing: border-box;
  border-radius: 4px;
}

.opInvTable::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
.opInvTable::-webkit-scrollbar-thumb {
  background-color: #464646;
}

.invoiceTable {
  :global {
    .ant-table-body {
      overflow-x: auto !important;
    }
    .ant-table-row-selected td {
      background-color: #fff !important;
    }
    .ant-table-middle td:first-child {
      padding-left: 16px !important;
    }

    .ant-table-middle td:last-child {
      padding-right: 16px !important;
    }
  }
}
.opInvoiceContentFooter {
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.opInvoiceContentTable {
  &:hover {
    background: #fff !important;

    td {
      background: #fff !important;
    }
  }
  table {
    border-spacing: 0;
    border-collapse: separate;
    border: none !important;
  }

  tbody {
    tr {
      &:hover {
        background-color: transparent !important;
      }
      td {
        //padding-top: 20px!important;
        //padding-bottom: 20px!important;
        padding: 12px 16px 10px !important;
      }
    }
  }
  thead {
    font-size: 12px;

    tr {
      th {
        background-color: #fff;
        color: #2e2e2e;
      }
    }
  }
  th {
    padding: 12px 16px 10px !important;
    border-right: none !important;
    &:last-child {
      text-align: right;
    }

    &:nth-child(8) {
      position: relative;
      text-align: right;
    }
    &:nth-child(9) {
      position: relative;
      text-align: center;
    }
    &:nth-child(10) {
      position: relative;
      text-align: right;
    }
  }
  //td{
  :global {
    .ant-table-body {
      overflow-x: auto !important;
    }
    .ant-table-row-selected td {
      background-color: #fff !important;
    }
    .ant-table-middle td:first-child {
      padding-left: 16px !important;
    }

    .ant-table-middle td:last-child {
      padding-right: 16px !important;
    }
  }
}
.row {
  background: #fff;
  font-size: 13px;

  td {
    background-color: #fff;
    font-size: 13px;
    font-weight: 400;
    color: #646464;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: none !important;

    &:last-child {
      position: relative;
      text-align: right;
    }

    &:nth-child(8) {
      position: relative;
      text-align: right;
    }

    &:nth-child(9) {
      position: relative;
      text-align: center;
    }

    &:nth-child(10) {
      position: relative;
      text-align: right;
    }
  }
}
