@import '../../theme/vars';
.quantityInvoiceButton {
  height: 20px !important;
  border: none !important;
}
.quantityInvoiceButton:disabled {
  background-color: #eee !important;
  border: none;
  color: black;
}

.draftButton,
.draftButton:hover,
.draftButton:active,
.draftButton:focus {
  background-color: #edf5fc;
  color: #4e9cdf;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #4e9cdf;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newContactButton,
.newContactButton:hover,
.newContactButton:active,
.newContactButton:focus {
  color: white;
  background-color: #4e9cdf;
  font-size: 14px;
  font-weight: 500;
}

.statusBox {
  margin: 14px 0;
  margin-left: 2px;
  white-space: nowrap;

  button {
    font-size: 11px;
    margin-right: 5px;
    color: #fff !important;

    &:hover {
      border-color: transparent;
    }
  }

  :global {
    button:not(.ant-btn-primary) {
      background-color: #bbb;
    }
  }
}
.select {
  width: 100%;
  font-weight: normal;
  font-size: 13px;
  color: #555555;
  overflow: hidden;
  // margin-bottom: 8px;

  :global {
    .ant-select-arrow-icon * {
      stroke: rgb(0, 0, 0);
    }
  }
}

.input {
  margin-top: 8px;
  input {
    font-size: 13px;
  }
}

.dropdown {
  font-size: 13px;
  font-weight: 500;
  color: #333;
  z-index: 1;
}

.containerFluid {
  margin-top: 24px;
  margin-bottom: 88px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid transparent;
}

.salesContainer {
  margin-top: 32px;
  margin-bottom: 20px;
  padding: 36px 64px;
}

.serialNumberCount {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  margin-left: 8px;
  border-radius: 64px;
}

.newProductTitle {
  box-sizing: border-box;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #373737;
  margin-top: 50px;
  margin-bottom: 20px;
}

.backBtn {
  display: flex;
  color: #464a4b;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.customInput {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: 0 !important;
}

.customSelect {
  :global {
    .ant-select-selection {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      font-weight: normal;
      font-size: 13px;
      color: #555555;
    }
  }
}

.customCollapse {
  margin-bottom: 20px;
  border: 0 !important;
  border-radius: 0 !important;
  border-top: 1px solid #dedede !important;
  margin-top: 10px;

  .productTypeRow {
    &:hover .removeIcon {
      display: block !important;
    }
  }

  :global {
    .ant-coll apse-content {
      border-top: 0 !important;
    }
    .ant-collapse-header {
      padding-left: 0 !important;
      border-radius: 0 !important;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 28px;
      background-color: #fff;
      color: #373737;
    }

    .ant-collapse-content-box {
      margin-bottom: 20px;
      background-color: #f9f9f9 !important;
    }
  }
}

.customerTypeBox {
  display: flex;
  flex-direction: column;

  .customerTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #373737;
    margin-bottom: 7px;
  }
}

.label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #7c7c7c;
  line-height: 16px;
  margin-bottom: 6px;
}

.blueOutlinedButton {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #2d9cdb;
  border-color: #2d9cdb;

  &:hover,
  &:focus {
    border-color: darken(#2d9cdb, 8%);
    color: darken(#2d9cdb, 8%);
  }
}

.deleted {
  filter: grayscale(1) opacity(0.6);
  //background-color: rgba(214, 214, 214, 0.13);
  border-color: rgba(214, 214, 214, 0.38);
  font-size: 13px;
  //color: rgba(0, 0, 0, 0.42);

  &:hover {
    //cursor: pointer;
    background: none !important;

    td {
      background: none !important;
    }
  }

  td {
    // border-top: 2px solid #f6f6f6 !important;
    // border-bottom: 2px solid #f6f6f6 !important;
    //background-color: #fff;
    font-size: 13px;
    font-weight: 400;
    //color: #646464;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: none !important;

    &:nth-child(8) {
      position: relative;
      text-align: right;
    }

    &:nth-child(9) {
      position: relative;
      text-align: center;
    }

    &:nth-child(10) {
      position: relative;
      text-align: right;
    }

    &:last-child {
      position: relative;
      text-align: right;
    }
  }
}

.row {
  background: #fff;
  font-size: 13px;

  &:hover {
    //cursor: pointer;
    background: #fff !important;

    td {
      background: #fff !important;
    }
  }

  .detailIcon {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  td {
    // border-top: 2px solid #f6f6f6 !important;
    // border-bottom: 2px solid #f6f6f6 !important;
    background-color: #fff;
    font-size: 13px;
    font-weight: 400;
    color: #646464;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: none !important;

    &:last-child {
      position: relative;
      text-align: right;
    }

    &:nth-child(8) {
      position: relative;
      text-align: right;
    }

    &:nth-child(9) {
      position: relative;
      text-align: center;
    }

    &:nth-child(10) {
      position: relative;
      text-align: right;
    }
  }
}

.productTableAction {
  padding-right: 12px;

  .customCircleButton {
    background-color: transparent;
    border: none !important;

    i {
      color: #c4c4c4 !important;
    }
  }
}

.customSquareButton {
  border: none !important;

  i {
    color: #464a4b !important;
  }
}
.customPrintButton {
  border: 1px solid #55ab80;
  color: #55ab80;

  i {
    color: #464a4b !important;
  }
}


.menuItem {
  display: flex;
  align-items: center;

  &:hover {
    background-color: #f1f1f1 !important;
    color: #373737 !important;
  }
}
.menuItemEdit {
  &:hover {
    background-color: #55ab8014 !important;
    color: #373737 !important;
  }
}
.menuItemDelete {
  &:hover {
    background-color: #ffeaea !important;
    color: #ff716a !important;
  }
}
.menuText {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.menuIcon {
  margin-right: 16px;
  font-size: 16px !important;
}

.productTableFooter {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.customPagination {
  :global {
    .ant-pagination-prev,
    .ant-pagination-next {
      transform: scale(1.1);

      a {
        color: #55ab80;
        background-color: transparent;
        border: none;
      }

      &:hover {
        background-color: rgba(85, 171, 128, 0.1);
      }
    }

    .ant-pagination-item {
      background-color: transparent;
      border: none;

      a {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #373737;

        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .ant-pagination-item-active {
      background: #55ab80;
      border-radius: 6px;
      border: none;

      a {
        color: #fff;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}

.invoiceHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media screen and (max-width: 320px) {
    flex-direction: column; 
  }

  .modalTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    overflow-wrap: anywhere;

    @media screen and (max-width: 425px) {
      font-size: 16px;
    }

    @media screen and (max-width: 320px) {
      font-size: 14px;
      display: block;
      
    }
  }
}

.detailsList {
  display: flex;
  flex-direction: column;
  padding-left: 0;

  .ulLi {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #dbdbdb;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    span {
      &:nth-child(1) {
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        color: #373737;
      }

      &:nth-child(2) {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #464a4b;
      }
    }

    @media screen and (max-width: 425px) {
      span {
        &:nth-child(1) {          
          font-size: 14px;
        }
  
        &:nth-child(2) {
          font-size: 13px;
          word-wrap: break-word;
          word-break: break-all;
          padding-left: 10px;
        }
      }
    }
  
    @media screen and (max-width: 375px) {
      
    }
  }
}
.customerTypeDetail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #dbdbdb;

  @media screen and (max-width: 425px) {
    span {
      font-size: 14px;
    }
  }

  span {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #373737;
  }

  ul {
    background: #f9f9f9;
    border-radius: 4px;
    padding: 16px 20px;
    margin-top: 16px;
    width: 100%;

    li {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &:nth-child(1) {
        margin-bottom: 12px;

        span {
          &:nth-child(1) {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
          }

          &:nth-child(2) {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 16px;
            color: #464a4b;
          }
        }
      }

      &:nth-child(2) {
        span {
          &:nth-child(1) {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
            color: #55ab80;
          }

          &:nth-child(2) {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 16px;
            color: #55ab80;
          }
        }
      }

      @media screen and (max-width: 425px) {
        &:nth-child(1) {
          margin-bottom: 12px;
  
          span {
            &:nth-child(1) {
              font-size: 14px;
            }
  
            &:nth-child(2) {
              font-size: 13px;
            }
          }
        }
  
        &:nth-child(2) {
          span {
            &:nth-child(1) {
              font-size: 14px;
            }
  
            &:nth-child(2) {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

.additionalCollapse {
  border: 0;
  background-color: transparent;

  :global {
    .ant-collapse-item {
      border-bottom: 0;
    }

    .ant-collapse-header {
      padding-left: 0 !important;
      padding-right: 0 !important;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      color: #373737;
    }

    .ant-collapse-content {
      border-top: 0;
      background: #f9f9f9;
      border-radius: 4px;

      p {
        margin-bottom: 0;
      }
    }
  }
}

.chip {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  padding: 4px 8px;
  width: max-content;
}

.stockTableFooter {
  display: flex;
  flex-direction: column;
}

.invoiceTable {
  table {
    border-spacing: 0;
    border-collapse: separate;
    border: none !important;
  }

  tbody {
    tr {
      &:hover {
        background-color: transparent !important;
      }
      td {
        //padding-top: 20px!important;
        //padding-bottom: 20px!important;
        padding: 12px 16px 10px !important;
      }
    }
  }
  thead {
    font-size: 12px;

    tr {
      th {
        background-color: #fff;
        color: #2e2e2e;
      }
    }
  }
  th {
    padding: 12px 16px 10px !important;
    border-right: none !important;
    &:last-child {
      text-align: right;
    }

    &:nth-child(8) {
      position: relative;
      text-align: right;
    }
    &:nth-child(9) {
      position: relative;
      text-align: center;
    }
    &:nth-child(10) {
      position: relative;
      text-align: right;
    }
  }
  //td{
  :global {
    .ant-table-body {
      overflow-x: auto !important;
    }

    tr:last-child > td {
      border-bottom: none !important;
      color: white;
      background-color: #484848;
      font-weight: bold;
      pointer-events: none;
    }

    .ant-table-row-selected td {
      background-color: #fff !important;
    }
    .ant-table-middle td:first-child {
      padding-left: 16px !important;
    }

    .ant-table-middle td:last-child {
      padding-right: 16px !important;
    }
  }
}

.wareHouseTableFooter {
  tr {
    td {
      padding: 12px 16px 10px !important;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: #373737;

      &:nth-child(1) {
        padding-left: 6px !important;
        padding-right: 6px !important;
      }
    }
  }
}
.fullWidth {
  width: 100%;
}
.buttonFont {
  font-size: 14px;
  line-height: 16px;
}
.documentsParent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  label {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #383d3e;
  }
}
.documentParent {
  margin-bottom: 12px;
  background: #f9f9f9;
  border-radius: 4px;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  height: 50px;
  img {
    height: 100%;
    margin-right: 12px;
  }
  label {
    font-style: normal;
    font-weight: 500;
    color: #373737;
    font-size: 14px;
    line-height: 16px;
  }
  &:hover {
    cursor: pointer;
  }
}
.files {
  i:hover {
    cursor: pointer;
  }
  &:hover {
    cursor: default;
    background: #eeeeee;
  }
  label {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.customPagination {
  :global {
    .ant-pagination-item-link {
      color: #55ab80;
    }

    .ant-pagination-item {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 15px !important;
      font-size: 12px;
    }

    .ant-pagination-item-active {
      background-color: #55ab80;
      color: white !important;
      border-radius: 6px;
    }

    .ant-pagination-item-link {
      font-size: 15px;
    }

    .ant-pagination-item:nth-last-child(2) {
      margin-right: 15px !important;
    }

    .ant-pagination-item-ellipsis {
      margin-left: 15px !important;
      font-size: 5px;
    }

    .ant-pagination-item > a {
      padding: 4px 8px;
    }

    .ant-pagination-item-active > a {
      color: white;
    }

    .ant-pagination-next {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 30px !important;
      width: 30px !important;
      padding: 9px;
      background: rgba(85, 171, 128, 0.1);
    }
    .ant-pagination-item-link {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.totalNumber {
  font-size: 12px;
  font-weight: normal;
  color: #484848;
  margin-left: 20px;
}

.pageSize,
.pageSize:focus,
.pageSize:active,
.pageSize:hover {
  width: 60px;
  font-weight: normal;
  font-size: 13px;
  color: #555555;
  border: none;
  margin: 0;
  // margin-bottom: 8px;

  :global {
    .ant-select-arrow-icon * {
      stroke: rgb(0, 0, 0);
    }

    .ant-select-selection__rendered {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ant-select-selection {
      border: none;
    }
  }
}

.formItem {
  margin-bottom: 20px !important;
  label {
    color: #868686;
    margin-bottom: 5px !important;
    font-weight: 500;
    font-size: 14px !important;
  }
  input {
    font-size: 13px;
    &:focus {
      border-color: transparent;
    }
  }
  :global {
    .ant-form-item-label {
      margin-bottom: 5px;
      line-height: unset;
    }
    .ant-form-item-control {
      height: 40px;
      line-height: unset;
    }
    .ant-form-explain {
      height: 16px;
      display: block;
      margin: 0;
      font-size: 12px;
      font-weight: 600;
      color: red;
      transition: all 370ms;
    }
    .ant-checkbox-wrapper {
      margin: 0 !important;
    }
  }
}

.Sidebar {
  .sidebarItem {
    padding: 24px 25px;
    border-bottom: 2px solid #fff;
    .ant-form-item {
      margin: 0 !important;
    }
  }

  .inputGroup {
    margin: 20px 0;
  }

  .sectionName {
    font-size: 14px;
    font-weight: 500;
  }
}

.customTable {
  :global {
    th {
      padding: 20px 15px !important;
      font-size: 12px;
      color: #373737;
      font-weight: 600;
    }
    td {
      padding: 15px !important;
      font-size: 12px;
      color: #373737;
      border-bottom: 1px solid #dbdbdb !important;
      background-color: white;
      font-weight: normal;
    }
    tr:last-child > td {
      border-bottom: none !important;
      color: white;
      background-color: #484848;
      font-weight: bold;
      pointer-events: none;
    }
  }
}

.button,
.button:hover,
.button:active,
.button:focus {
  color: #fff;
  background-color: #55ab80;
}

.customModal {
  position: relative;
  margin-top: 50px;
  .closeButton,
  .closeButton:hover,
  .closeButton:active,
  .closeButton:focus {
    position: absolute;
    padding: 0 13px;
    top: -20px;
    right: -65px;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 1024px) {
      top: -25px;
      right: -21px;
    }

    @media screen and (max-width: 768px) {
      top: -25px;
      right: -20px;
    }

    @media screen and (max-width: 425px) {
      top: -25px;
      right: -20px;
    }
  }
  :global {
    .ant-modal-body {
      margin-top: -60px;
      padding: 0 !important;
    }
  }
}

.WarehouseModal {
  padding: 20px 40px;

  .header {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(158, 158, 158, 0.336);
    padding-bottom: 20px;
    margin-bottom: 15px;

    .section {
      font-weight: 700;
    }
  }
}

.tableFooter {
  tr:last-child > td {
    border-bottom: none !important;
    color: white;
    background-color: #484848;
    font-weight: bold;
    pointer-events: none;
  }
}
.buttonIcon {
  float: right;
  font-size: 17px;
}
.addCategoryButton {
  height: 50px;
  text-align: left;
  padding: 10px 20px;
  margin-bottom: 6px;
}
.spinStyle {
  margin: 20px 0;
}
.productList {
  margin-bottom: 55px;
}
.productItem {
  list-style: none;
  border: 1px solid #dedede;
  background: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding: 7px 20px;
  position: relative;
  transition: all 0.4s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 4px;
  color: #373737;
  cursor: pointer;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: rgba(85, 171, 128, 0.15);
    button {
      //transform: scale(1);
      outline: none;
    }
  }

  span {
    color: #777;
    font-weight: 400;
  }
  .productItem_span {
    margin-right: 10px;
  }
  button {
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    appearance: none;
    color: #b4b4b4;
    font-size: 18px;
    padding: 4px;
    transition: all 0.1s;
    cursor: pointer;

    &:focus {
      outline: 0;
    }
    svg {
      vertical-align: middle;
    }
  }

  @media screen and (max-width: 425px) {
    display: block;
    word-break: break-all;    

    .popContent {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 5px;
    }
  }
}
.popContent {
  display: flex;
  button {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    border: none;
  }
  button:focus {
    outline: none;
  }
  span {
    display: inline-flex;
  }
  span:hover {
    transition: color 0.3s;
    cursor: pointer;
    color: $accent;
  }
  svg {
    vertical-align: middle;
  }
}

.editIcon {
  color: #a19f9f !important;
  font-size: 15px;
  &:hover {
    background-color: #55ab8014 !important;
    color: #55ab80 !important;
  }
}
.trashIcon {
  color: #a19f9f !important;
  font-size: 15px;
  &:hover {
    background-color: #ffeaea !important;
    color: #ff716a !important;
  }
}
.editActive {
  cursor: pointer;
}
.editDisabled {
  cursor: not-allowed;
}

.detailsTab {
  display: flex;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 320px) {
    overflow-x: auto;
    padding-bottom: 10px;
  }

  button {
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
    height: 42px;
    line-height: 16px;
    &:nth-child(1) {
      border-radius: 4px 0 0 4px;
    }
    &:nth-child(2) {
      border-radius: 0 4px 4px 0;
    }
  }
}
.columnDetailItem {
  // display: flex;
  // flex-direction: column;
  margin-top: 10px;

  label {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #a4a4a4;
  }

  span {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #373737;
  }
}
.exportBox {
  display: flex;
  align-items: center;
}
.filterName {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #a4a4a4;
}
.opInvTable::-webkit-scrollbar-track {
  background: #dedede;
  box-sizing: border-box;
  border-radius: 4px;
}
.opInvoiceContentTable {
  thead {
    font-size: 12px;

    tr {
      th {
        background-color: #fff;
        color: #2e2e2e;
      }
    }
  }
  :global {
    .ant-table-body {
      overflow-x: auto !important;
    }
    .ant-table-row-selected td {
      background-color: #fff !important;
    }
    .ant-table-middle td:first-child {
      padding-left: 16px !important;
    }

    .ant-table-middle td:last-child {
      padding-right: 16px !important;
    }
  }
}
.newDropdownBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  background-color: #4e9cdf !important;
  font-size: 14px;
  font-weight: 500;
  border-color: transparent !important;

  @media screen and (max-width: 320px) {
    font-size: 0px !important;
    width: 50px !important;

    svg {
      margin-right: 0 !important;
    }
  }
}
.parentBox {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 10px;
}

.paper {
  border-radius: 4px;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 16px;
}

.content {
  display: flex;
  border-radius: 4px;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 16px;
  flex-direction: column;
  align-items: center;
}

.tabs {
  padding: 4px;

  :global {
    .ant-tabs-bar {
      border-bottom: 0;
    }

    .ant-tabs-tab {
      font-size: 14px;
      border-radius: 0 !important;
      margin-right: 2px !important;
      background-color: #e7e7e7 !important;
    }

    .ant-tabs-tab-active {
      border-bottom: unset !important;
      background-color: #55ab80 !important;
      color: #fff !important;
    }

    .ant-tabs-nav {
      border-radius: 8px;
      overflow: hidden;
    }
  }
}
.returnBackButton {
  display: flex;
  color: #464a4b;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
.fileViewer {
  background-color: white;
  display: flex;
  align-items: center;
  svg {
    margin-left: 10px;
    font-size: 30px;
    color: grey;
  }
  svg:hover {
    color: black;
  }
}

.viewerBtns {
  display: flex;
  align-items: center;
}

.downloadIcon:hover {
  fill: black;
}

.formItem {
  :global {
    .ant-form-item-label {
      margin: 0px !important;
    }
    .ant-checkbox-wrapper {
      margin: 0 !important;
    }
  }
}

.editButton {
  color: #000000;
  appearance: none;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0 8px;

  &:hover,
  &:focus,
  &:active {
    color: #000000;
  }
}
.flexDisplay{
  position: relative;
  top: 25px;
  label{
    margin-bottom: 8px;
  }
}
.plusBtn {
  position: absolute;
  right: 2px;
  top: -2px;
  font-size: 12px;
  z-index: 1;
  width: 14px;
  cursor: pointer;
}
.fileIcon {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.description {
  border-radius: 8%;
  width: 100px;
  height: 110px;
  text-align: center;
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: black;
}

.fileIcon:hover .description {
  opacity: 0.7;
}

.descriptionIcons > button {
  color: white;
  background: transparent;
  border: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.descriptionIcon {
  font-size: 24px;
}
.descriptionIcons > button:hover {
  background: transparent;
  border: none;
  color: #18cfab;
}

.pageToolsContainer {
  margin: 24px 0;

  @media screen and (max-width: 425px) {
    margin-top: 102px;
  }
}

.responsiveFilterButton {
  display: none;  
  color: #4e9cdf;
  border: 1px solid #4e9cdf;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 15px;
  align-items: center;
  justify-content: center;
  z-index: 99;
  padding: 0 10px;
  button {
    border: none;
    background: transparent;
    padding-top: 5px;
    svg {
      font-size: 18px;
    }
  }
  @media screen and (max-width: 768px) {
    display: flex;
  }
}

.paginationRow {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 425px) {
    flex-wrap: wrap-reverse;
    padding-bottom: 50px;
    div:nth-child(2) {
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 375px) {
    div:nth-child(1) {
      ul li:first-child,
      ul li:last-child {
        display: none;
      }
    }

    div:nth-child(2) {
      margin-bottom: 30px;
    }
  }
}

.pageTabs {
  display: flex;
  align-items: center;

  @media screen and (max-width: 425px) {
    margin-bottom: 20px;
    overflow-y: hidden;
    overflow-x: auto;
    width: auto;    
    padding-bottom: 5px;

    button {
      flex-shrink: 0;
    }
  }

  @media screen and (max-width: 375px) {
    
  }
}

.photoAndNameRow {
  display: flex;
  align-items: center;
  
  @media screen and (max-width: 425px) {
    display: block;
  }
}

.printButtonRow {
  text-align: center;
  @media screen and (max-width: 425px) {
    margin-bottom: 20px;
  }
}