@import 'theme/vars.scss';

.rowBox {
  margin-left: -6px;
  margin-bottom: 18px;
}

.buttonsBox {
  padding-top: 10px;
  div {
    display: inline-block;
  }
  button {
    min-width: 115px;
    position: relative;
    height: 40px;
    padding: inherit;
  }
}

.jobsDownloadIcon {
  font-size: 24px;
  cursor: pointer;
}
