.currenciesOption {
  display: flex;
  align-items: center;
  margin: 30px 0 10px 0;
  button {
    border-radius: 0;
    font-weight: 500;
    font-size: 14px;
    min-width: 72px;
    line-height: 24px;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    &:nth-child(1) {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    &:nth-last-child(1) {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}
