@import '../../../styles.module.scss';

.Detail {
  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(158, 158, 158, 0.336);
    padding-bottom: 20px;
    margin-bottom: 15px;

    .section {
      font-weight: 700;
    }
  }
}
