.modalContainer h2 {
  margin-bottom: 15px;
}
.formButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    margin-left: 10px;
    margin-top: 30px;
  }

  .cancelButton {
    background-color: #e74c3c;
    outline: none;
    border-color: #e74c3c;
    font-size: 13px;
  }
}
