
.content
  padding: 32px 0px
  // max-width: 1380px;
  width: 100%
  margin: 0 auto !important
.integration
  background: #ffffff
  min-height: 160px
  margin: 40px 20px
  border-radius: 8px
  padding: 0px !important
  display: flex
  padding: 20px 50px
  box-shadow: 0 1px 3px rgba(0,0,0,0.12)
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)
  &:hover
    border-top-left-radius: 10px
    border-bottom-left-radius: 10px
    animation-name: example
    animation-duration: 0.25s
    border-left: 8px solid #e56a6b
    box-shadow: 0px 3px 17px -7px #808080
  .logo
    display: flex
    justify-content: center
    align-items: center
    img
      @media screen  and (max-width: 1238px)
        width: 90px

  .desc
    display: flex
    justify-content: center
    align-items: center
    text-align: left
    padding-left: 30px
    h2
      font-weight: 700
      color: #5f5f5f
    p
      color: #5f5f5f
      @media screen  and (max-width: 1238px)
        font-size: 12px
  .button
    display: flex
    justify-content: center
    align-items: center
    text-align: left
    button
      background-color: rgb(229, 106, 107)
      color: #fff
      padding: 0px 40px
      border: none
      border-radius: 4px
      box-shadow: 0px 3px 17px -7px #808080 !important
      @media screen  and (max-width: 1238px)
        padding: 0px 18px
    .btnIcons
      display: contents

.contactAddModal
  .button,
  .button:hover,
  .button:active,
  .button:focus
    color: #fff
    background-color: #55ab80
    margin-top: 10px


